.box1 {
    width: 200px;
    height: 150px;
    background-color: pink;   
    transform: rotate(40deg);
    margin-top: 50px;
    margin-left: 50px;
}

.box2 {
    width: 200px;
    height: 150px;
    background-color: blue;
    color: #fff;   
    transform: skewY(20deg);
    margin-top: 50px;
    margin-left: 50px;
}